
.login-modal a, a:hover, a:focus {
	color: #f05f40;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.login-modal .btn{
	background: #f05f40;
}

h3 {
	font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}

img { max-width: 100%; }

::-moz-selection { background: #f05f40; color: #fff; text-shadow: none; }
::selection { background: #f05f40; color: #fff; text-shadow: none; }

/***** Form content *****/
.login-modal .form-box {
	margin-top: 35px;
}

.login-modal .form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #444;
	background: rgba(0, 0, 0, 0.95);
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}

.login-modal .form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.login-modal .form-top-left h3 { margin-top: 0; color: #fff; }
.login-modal .form-top-left p { opacity: 0.8; color: #fff; }

.login-modal .form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #fff;
	line-height: 100px;
	text-align: right;
	opacity: 0.3;
}

.login-modal .form-bottom {
	padding: 25px 25px 30px 25px;
	background: #444;
	background: rgba(0, 0, 0, 0.95);
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}

.login-modal .form-bottom form textarea {
	height: 100px;
}

.login-modal .form-bottom form button.btn {
	width: 100%;
}

.login-modal .form-bottom form .input-error {
	border-color: #f05f40;
}

.social-login {
	margin-top: 35px;
}

.social-login h3 {
	color: #fff;
}

.social-login-buttons {
	margin-top: 25px;
}


/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {
	
	.inner-bg { padding: 60px 0 110px 0; }

}

@media (max-width: 415px) {
	
	h1, h2 { font-size: 32px; }

}

